@import "~antd/dist/reset.css";

.h100large {
  height: calc(100vh - 64px);
}
.h100small {
  height: calc(100vh - 2*64px);
}

.site-layout-content-large {
  min-height: calc(100vh - 114px);
  padding: 24px;
}

.site-layout-content-small {
  min-height: calc(100vh - 178px);
  padding: 24px;
}

.nav-bar-button {
  font-size: x-large;
  height: 100%;
}
.nav-bar-button>span>svg:hover {
  color: cyan;
}

.nav-bar-logo {
  color: white;
}
